.lead__subtitle {
    font-size: 30px;
    display: block;
    margin: 0 auto;
    margin-bottom: 64px;
    max-width: 640px;
    text-align: center;
    line-height: 36px;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;

    }
}