.cover {
    max-width: 1184px;
    min-height: 740px;
    margin: 0 48px;
    margin-bottom: 92px;
    background-image: url('../../images/cover-trains.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: stretch;
    align-content: center;
    
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 1184px) {
    .cover {
        min-height: calc(100vw / 1.6);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-bottom: 64px;
    }
}
